.container {
    padding: 5px 10px;
    margin: 10px;
    background-color: rgb(29, 28, 28);
    color: white;
    transition: all 0.3s ease-in-out;
    border: 1px solid purple;
    border-radius: 12px;
}

.container:hover {
    cursor: pointer;
    border: 1px solid green;
}